MONGO_URL=mongodb://localhost:27017/elemenopee
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
PORT=5000
JWT_SECRET=elemenopee_secret_key

# Shiprocket Configuration
SHIPROCKET_MODE=mock # live or mock
SHIPROCKET_API_EMAIL=
SHIPROCKET_API_PASSWORD=
SHIPROCKET_WEBHOOK_SECRET=
SHIPROCKET_DEFAULT_PICKUP_LOCATION=Primary
